# directory-based project configuration
.idea/

# file-based project configuration
*.iws
*.iml
*.ipr

# node dependency directory
node_modules/

# node package.json manifestation
package-lock.json

# next compilation
.next/
out/

# next production
build/

# dotenv environmental variable configuration
**/.env

# typescript
*.tsbuildinfo